<nav class="navbar navbar-defualt">
  <div class="container">
    <div class="navbar-header">
      <a href=""></a><h1 id="headline">Mission: Possible</h1>
    </div>
  </div>
</nav>

<div class="container">

<h1 id="new_headline">New Mission</h1>

<div class="text-center"><%= render 'form' %></div>

<div class="back_button"><%= link_to 'Back', todo_items_path %></div>

</div>