/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/**********************************
******** HEADER **************
**********************************/
#headline {
  text-align: left;
  font-family: 'Black Ops One', cursive;
  margin-top: 0px;
  text-decoration: underline;
  color: #000;
  font-size: 70px;
}

#headline a:visited {
  color: #000;
}

#headline a:hover {
  background-color: transparent;
}

#subtitle {
  text-align: left;
  font-family: 'Black Ops One', cursive;
  color: #000;
  font-size: 25px;
}

.round {
  float: right;
  height: 100px;
  width: 100px;
}


/**********************************
************ BODY **************
**********************************/
body {
    background-color: #A4B8C4;
  }

.list {
    font-family: 'Russo One', sans-serif;
    font-size: 25px;
    color: #000;
}

th {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  text-align: center;
}

td {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  text-align: center;
  width: 16.6%;
}

.list_text {
  font-family: 'Russo One', sans-serif;
  font-size: 20px;
  color: #000;
}

.data:hover {
  background-color: #4B8274;
}

.fa {
  color: #000;
}

.fa:visited {
  color: transparent;
}

.table > thead > tr > th {
  border-bottom: solid 2px black;
}

.table > tbody > tr > td {
  border-top: solid 2px black;
}

#new_headline {     /* Headline on the "new" page */
  text-align: center;
}

.top_headers {      /* Table headers */
  font-family: 'Russo One', sans-serif;
}

.create_button {
  float: right;
  text-align: right;
}

.fa-plus-square {     /* This is the "new" button on the home page */
  margin-left: 10px;
}

.back_button {
  text-align: center;
}

a:hover {
  text-decoration: none;
  background-color: transparent;
  color: #fff;
}

#todo_item_state {
  width: 88px;
  margin-bottom: 10px;
}





/**********************************
******** LOGIN PAGE *********
**********************************/
#login_headline {
    font-family: 'Black Ops One', cursive;
    font-size:  50px;
    color: #000;
}

.login_box {
  background-color: #6C7A89;
  padding-top: 80px;
  height: 221px;
}

.email_input {
  font-family: 'Russo One', sans-serif;
  font-size: 17px;
  margin: 0px auto;
  display: inline;
  padding-right: 10px;
  color: #000;
}

.password_input {
  margin: 5px auto;
  font-family: 'Russo One', sans-serif;
  font-size: 17px;
  display: inline;
  padding-right: 5px;
  color: #000;
}

.signup_link {
  font-family: 'Russo One', sans-serif;
  padding-left: 1px;
  padding-top: 7px;
  font-size: 17px;
  color: #000;
}

.signup_link a:visited {
  color: #000;
  }

.signup_link a:hover {
  color: #fff;
  }

  .diamond {
    text-align: center;
    margin-top: 100px;
  }


/**********************************
******** SIGNUP PAGE ********
**********************************/
#signup_headline {
    font-family: 'Black Ops One', cursive;
    font-size:  50px;
    color: #000;
}

.signup_box {
  background-color: #6C7A89;
  padding-top: 80px;
  height: 221px;
}

.name_input {
  margin: 5px auto;
  font-family: 'Russo One', sans-serif;
  font-size: 17px;
  display: inline;
  padding-right: 5px;
  color: #000;
}

.login_link {
  font-family: 'Russo One', sans-serif;
  padding-left: 1px;
  padding-top: 7px;
  font-size: 17px;
  color: #000;
}

.login_link a:visited {
  color: #000;
  }

.login_link a:hover {
  color: #fff;
  }




/**********************************
******** LISTS PAGE ***********
**********************************/
.logout_button {
  text-align: right;
  font-family: 'Russo One', sans-serif;
  font-size: 15px;
  float: right;
  padding-right: 5px;
  color: #000;
}

.logout_button a:hover {
  background-color: transparent;
  text-decoration: underline;
}

.logout_button a:visited {
  color: #000;
}

.active_headline {
  margin-top: 125px;
  font-family: 'Russo One', sans-serif;
  color: #000;
  text-align: center;
}

.navbar-header {
  background-color: #6C7A89;
  width: 100%;
  margin-top:  0px;
}


/**********************************
****** EDIT TODO PAGE ******
**********************************/
.edit_container {
    font-family: 'Russo One', sans-serif;
    color: #000;
    font-size: 15px;
    margin-top: 5px;
}

.update_headline {
  margin-top: 100px;
}

/**********************************
****** EDIT LIST PAGE ******
**********************************/
.update_mission {
    font-family: 'Russo One', sans-serif;
    color: #000;
    font-size: 15px;
    margin-top: 100px;
}

/**********************************
****** NEW TODO PAGE ******
**********************************/
.new_container {
    font-family: 'Russo One', sans-serif;
    color: #000;
    font-size: 15px;
    margin-top: 100px;
}

.new_objective {
    font-family: 'Russo One', sans-serif;
    color: #000;
    font-size: 15px;
    margin-top: 100px;
}

/**********************************
****** SHOW PAGE ************
**********************************/
.show_box {
    font-family: 'Russo One', sans-serif;
    color: #000;
    font-size: 30px;
    padding-bottom: 12px;
}

.show_text {
  margin-top: 100px;
}

.todo_show {
  margin-top: 125px;
}

/**********************************
***** TODO SHOW PAGE *****
**********************************/
