/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#headline {
  text-align: left;
  font-family: 'Black Ops One', cursive;
  margin-top: 0px;
  text-decoration: underline;
}

#subtitle {
  text-align: left;
  font-family: 'Black Ops One', cursive;
}

#data:hover {
  background-color: #4B8274;
}

#new_headline {     /* Headline on the "new" page */
  text-align: center;
}

.top_headers {      /* Table headers */
  font-family: 'Russo One', sans-serif;
}

.navbar {
  width: 100%;
  background-color: #98A5AD;
  border-radius: 0px;
  margin-bottom: 0px;
}

.create_button {
  float: right;
  text-align: right;
}

.fa-plus-square {     /* This is the "new" button on the home page */
  margin-left: 10px;
}

.fa-plus-square:hover {
  background-color: #98A5AD;
}

.back_button {
  text-align: center;
}

.container {
  background-color: #98A5AD;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

th {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  text-align: center;
}

td {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  text-align: center;
  width: 16.6%;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

#todo_item_state {
  width: 105px;
  margin-bottom: 10px;
}

